{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="container-lg d-flex flex-column">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7 col-lg-5 py-10 py-md-12 text-center">
                {{ form_start(registrationForm, { 'attr': {'class':'col px-lg-6 px-xl-8 px-xxl-11 py-9 py-lg-4'}}) }}
                    <h1>Créer votre compte</h1>
                    <h5 class="mb-5 text-700">Retrouvez vos modèles sur votre compte</h5>
                    <div class="form-group mb-4">
                        {{ form_row(registrationForm.name, { 'attr': {'class':'form-control form-control-lg'}}) }}
                    </div>
                    <div class="form-group mb-4">
                        {{ form_row(registrationForm.email, { 'attr': {'class':'form-control form-control-lg'}}) }}
                    </div>
                    <div class="form-group mb-4">
                        {{ form_row(registrationForm.plainPassword, { 'attr': {'class':'form-control form-control-lg'}}) }}
                    </div>
                    <div class="form-group mb-4 fs--1">
                        <div class="d-flex justify-content-between">
                            <div class="form-group form-check d-flex">
                                {{ form_row(registrationForm.agreeTerms , { 'attr': {'class':'form-check-input'}}) }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-outline-light btn-block mb-4">Créer</button>
                {{ form_end(registrationForm) }}
            </div>
            <div class="col-lg-6 offset-lg-1 align-self-stretch d-none d-lg-block taller">
                <!-- Image -->
                <div class="h-100 vw-50 imgRegister"></div>
            </div>
        </div>
    </div>
{% endblock %}
