{{ form_start(form) }}
    {{ form_widget(form.name, { 'attr': {'class':'form-control form-control-lg'}} ) }}
    {{ form_widget(form.email, { 'attr': {'class':'form-control form-control-lg my-3'}} ) }}
    {{ form_widget(form.password, { 'attr': {'class':'form-control form-control-lg'}} ) }}
    <div class="d-flex justify-content-center">
        <button class="btn btn-outline-light my-3">Modifier</button>
    </div>
{{ form_end(form) }}
